$brand-color--mint: #9adcd7;
$brand-color--green: #1db0a6;
$brand-color--blue: #002e3d;
$brand-color--dark: rgba(63, 77, 103, 1);

$bg-grey: #f4f7fa;
$bg-grey-2: #e0e0e0;
$grey-05: rgba(0, 0, 0, 0.5);
$grey-005: rgba(0, 0, 0, 0.05);
$grey: #8898aa;
$white: #ffffff;
$border-grey: rgba(34, 36, 38, 0.1);
$text-color: #545454;
$dark: rgba(0, 0, 0, 0.5);

$theme-color: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
$theme-color2: linear-gradient(-135deg, #899fd4 0%, #a389d4 100%);
$primary-color: #04a9f5;
$primary-color-darker: #0087c5;
$warning-color: #f4c22b;
$danger-color: #f87272;
$success-color: #1de9b6;
$purple-color: #a389d4;
